<template>
    <div>
        <b-container fluid v-if="authCheck">
            <Navbar />
            <b-row>
                <Sidenav :emailBalance="emailBalance" :smsBalance="smsBalance" />
                <MainContainer />
                <vue-snotify></vue-snotify>
            </b-row>
        </b-container>
        <b-container v-else>
            <router-view></router-view>
        </b-container>
    </div>
</template>

<script>
    import Navbar from './shared/Navbar'
    import Sidenav from './shared/Sidenav'
    import MainContainer from './shared/MainContainer'

    import axios from 'axios';
    axios.defaults.headers.common = {
        'X-Requested-With' : 'XMLHttpRequest',
        'X-CSRF-TOKEN' : window.Laravel.csrfToken
    }

    export default {
        components: { Navbar, Sidenav, MainContainer },
        mounted() {
            if (window.Laravel.userId) {
                this.getTotalBalance();
            }
        },
        data() {
            return {
                authCheck    : window.Laravel.authCheck,
                smsBalance   : 'Carregando...',
                emailBalance : 'Carregando...'
            }
        },
        methods : {
            getTotalBalance() {
                axios.get(`/api/users/${window.Laravel.userId}/balance`).then(res => {
                    if (res.data.success) {
                        this.smsBalance   = res.data.data.smsBalance;
                        this.emailBalance = res.data.data.emailBalance;
                    }
                });
            }
        }
    }
</script>
