<template>
	<div class="row">
		<div class="col-md-12 topnav">
			<div class="row">
				<div class="col-md-2">
					<img src="/img/white-sending.png" class="sending-logo center" />
				</div>
				<div class="col-md-10">
					<ul class="nav mt-3 float-right">
						<li class="nav-item">
							<router-link to="/contracts" class="nav-link text-white" v-b-tooltip.hover title="Planos e Pacotes">
								<icon name="coins" />
							</router-link>
						</li>
						<li class="nav-item">
							<a href="#" target="_self" class="nav-link text-white" :class="{ 'active': notificationShow }"
								v-b-tooltip.hover title="Notificações" @click.prevent="showNotifications()"
							>
								<icon name="bell" />
							</a>
							<div class="dropdown-notifications" v-if="notificationShow">
								<NotificationItem v-for="(item, i) in getNotifications" :item="item" :key="i" />
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		data() {
			return {
				notificationShow : false
			}
		},
		mounted() {
			this.$store.dispatch('getNotifications')
				.catch(error => console.log(error))
		},
		methods  : {
			showNotifications() {
				this.notificationShow = !this.notificationShow
			}
		},
		computed : {
			getNotifications() {
				return this.$store.getters.getNotifications
			}
		}
	}
</script>
<style scoped lang="scss">
	a.active {
		background-color: #FFF;
		border-radius: 5px;

		svg {
			color: #F4B822;
			fill: #F4B822;
		}
	}
</style>