<template>
    <nav class="mt-3" aria-label="Paginação da tabela de registros" v-if="pagination.length > 1">
        <ul class="pagination justify-content-center">
            <li class="page-item" :class="{ 'disabled' : currentPage == 1 }">
                <a class="page-link" href="#" tabindex="-1" @click.prevent="goToPage(_currentPage - 1)" aria-label="Anterior">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Anterior</span>
                </a>
            </li>
            <li class="page-item" v-for="(page, i) in pagination.pages" :key="i" :class="{ 'active' : currentPage == page + 1 }">
                <a class="page-link" :class="{ 'text-danger' : page.hasError }" href="#" @click.prevent="goToPage(page.number + 1)">
                    {{ page.number + 1 }}
                    <icon name="info-circle" scale="0.5" v-if="page.hasError" />
                </a>
            </li>
            <li class="page-item" :class="{ 'disabled' : currentPage == pagination.length }">
                <a class="page-link" href="#" @click.prevent="goToPage(_currentPage + 1)" aria-label="Próximo">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Próximo</span>
                </a>
            </li>
        </ul>
    </nav> <!-- / PAGINAÇÃO DOS REGISTROS DA TABELA -->
</template>

<script>
    export default {
        data() {
            return {
                _currentPage : this.currentPage
            }
        },
        props : {
            currentPage : Number,
            pagination  : Object
        },
        mounted() {
        },
        methods : {
            goToPage(page) {
                this._currentPage = page;

                if (page < 1) {
                    this._currentPage = 1;
                }

                if (page > this.pages) {
                    this._currentPage = pages;
                }

                this.$emit('onUpdatePage', { firstPage : this._currentPage, errorPages : new Array() });
            },
        }
    }
</script>

<style>

</style>
