<template>
	<nav id="side-nav" class="col-md-2">
		<div class="row">
			<div class="user-property">
				<img src="/img/girl-user.png" class="round-picture">
				<div class="user-name">{{ getUserName }}</div>
				<a href="#" class="user-logout" @click="logoutHandler($event)">
					Sair <icon name="sign-out-alt" scale="0.7"></icon>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="balance-property">
				<div class="row">
					<div class="col-md-4 offset-md-2 balance-email">
						<div class="balance-email-color">E-mail</div>
						<div class="balance-email-value">{{ emailBalance }}</div>
					</div>
					<div class="col-md-4 balance-sms">
						<div class="balance-sms-color">SMS</div>
						<div class="balance-sms-value">{{ smsBalance }}</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="menu-option-container">
				<router-link to="/" class="menu-option">Dashboard
				</router-link>
				<router-link to="/databases" class="menu-option">Database
				</router-link>
				<router-link to="/events" class="menu-option" :class="{ 'router-link-exact-active' : verifyRoute() }">Campanhas
				</router-link>
			</div>
		</div>
	</nav>
</template>
<script>
	import axios from 'axios';
	export default {
        data() {
            return {
                loading: false
            };
        },
        mounted() {
            this.fetchData();
        },
        props : {
        	emailBalance : [ String, Number ],
        	smsBalance   : [ String, Number ],
        },
        methods: {
            fetchData() {
                this.loading = true;
            },
            logoutHandler: function (e) {
                axios.post('/logout').then(response => {
					if(response.data.success){
						location.href='/login';
					}
				});
				e.preventDefault();
            },
			verifyRoute() {
				return (this.$route.name === 'profiles/create' || this.$route.name === 'builder/create' || this.$route.name === 'events/create' || this.$route.name === 'events');
			}
        },
		computed: {
			getUserName() {
				return (JSON.parse(localStorage.getItem('user'))).name
			}
		}
	}
</script>
