<template>
    <div class="box">
        <div class="animated form login_form fadeInDown">
            <section class="login_content">
                <picture class="logo">
                    <img src="/img/sending_logo.png" alt="Sending">
                </picture>
                <b-form @submit.prevent="checkForm">   
                    <p data-v-54eac215="" class="text-muted h5 mb-4">Bem vindo ao seu cadastro!</p>
                    <!-- <p>Após realizar seu cadastro solicitaremos a pedido do Wispot sua permissão para realizarmos a integração entre as duas plataforma, sinta-se a vontade para recusar ou aceitar.</p> -->
                    <b-form-group id="fieldsetName" description="" label="Nome" label-for="name">
                       <b-form-input id="name" v-model.trim="name"></b-form-input>
                    </b-form-group>
                    <b-form-group id="fieldsetEmail" description="" label="E-mail" label-for="email">
                        <b-form-input id="email" v-model.trim="email"></b-form-input>
                    </b-form-group>
                    <b-form-group id="fieldsetPassword" description="" label="Senha" label-for="password">
                        <b-form-input type="password" id="password" v-model.trim="password"></b-form-input>
                    </b-form-group>
                    <p class="h6 text-muted mt-4">Ao clicar em INSCREVA-SE, você concorda com nossos <a href="#" @click.prevent="displayTerms($event)">Termos e condições de uso</a>.</p>
                    <p v-if="errors.length">
                        <b class="text-danger">Por favor corrija o(s) seguinte erro(s):</b>
                        <ul class="text-danger">
                            <li v-for="(error, i) in errors" :key="i">{{ error }}</li>
                        </ul>
                    </p>
                    <b-button type="submit" variant="sending" :block="true" size="lg" class="mt-4">INSCREVA-SE</b-button>
                </b-form>
            </section>
        </div>
        <b-modal ref="myModalRef" hide-footer title="Termos e Condições de Uso">
            <div class="d-block">
                <div class="terms">
                    <p class='text-muted font-weight-semibold'>Termos e Condições de Uso da Rede Sem Fio (Wireless)</p>
                    <p class='text-muted font-weight-semibold'>1. Objetivos O presente Termo de Adesão ("Termo") estabelece as condições de acesso e uso pelos usuários da rede wireless disponibilizados pela WISPOT MARKETING CONNECT LTDA à rede Wi-Fi atualmente acessada. OBSERVAÇÃO: O USO DO SERVIÇO DE NAVEGAÇÃO ATRAVÉS DA INTERNET SEM FIO POR PARTE DO USUÁRIO CONSTITUI O ACORDO EM CUMPRIR E SEGUIR TODOS OS TERMOS NELE APRESENTADOS.</p>
                    <p class='text-muted'>1.1. O usuário manifestará sua concordância com as disposições do presente Termo, aderindo a todas as suas condições, no momento em que acessar quaisquer informações ou serviços disponibilizados quando da utilização da rede.</p>
                    <p class='text-muted'>1.2. Mediante a adesão do usuário às disposições do presente Termo, a empresa WISPOT MARKETING CONNECT LTDA compromete-se a conceder ao usuário acesso à utilização da rede sem fio, podendo a WISPOT MARKETING CONNECT LTDA, quanto ao aspecto de “violação” ou uso indevido dos recursos, proceder ao bloqueio ou cancelamento de acesso do usuário, caso seja detectado e evidenciado o uso em desconformidade com o estabelecido e que tenha ou não causado dano considerável aos serviços disponibilizados pela rede wireless e/ou à WISPOT MARKETING CONNECT LTDA e a outros usuários.</p>
                    <p class='text-muted font-weight-semibold'>2. Locais de Acesso A Rede Sem Fio estará acessível nos ambientes cobertos pelo sinal acessado neste momento o serviço der conexão chamado “software de conectividade” e provido pela Wispot e o acesso a internet e disponibilizado pela empresa definida no SSID de conexão (nome da conexão utilizada).</p>
                    <p class='text-muted font-weight-semibold'>3. Requisitos de Software e Hardware Para acessar a rede wireless é necessário, como requisito mínimo, um dispositivo computacional (computador pessoal, notebook, netbook, PDA, Ipad, Iphone e outros) equipado com Placa de Rede Sem Fio.</p>
                    <p class='text-muted font-weight-semibold'>4. Utilização da Rede Wireless Para ter acesso à rede wireless, o solicitante deverá preencher o cadastro que será requerido quando do acesso à internet, mediante formulário e compromisso com as normas de utilização, fornecendo as informações verdadeiras, atuais, exatas e completas, conforme solicitado ou ainda utilizando os serviços de autenticação de redes sociais suportados pelo sistema,</p>
                    <p class='text-muted'>4.1. A partir do momento em que for concedido o acesso à rede wireless ao usuário, o acesso e a utilização deste serviço serão de sua inteira responsabilidade, em caráter de extrema confidencialidade, devendo ainda o usuário observar e obedecer toda a legislação e demais normas administrativas aplicáveis, respondendo pelo mau uso dos recursos computacionais em qualquer circunstância;</p>
                    <p class='text-muted'>4.2. É expressamente proibido o acesso e o uso da rede wireless para a prática de quaisquer atos ilegais ou que representem afronta à moral e aos bons costumes;</p>
                    <p class='text-muted'>4.3. O usuário deve manter seu computador pessoal com softwares (patches, erratas) e com antivírus atualizados, conforme orientação do administrador de rede, não cabendo aos provedores de serviço e acesso qualquer responsabilidade pelo download de programas irregulares, ilícitos ou que contenham vírus, worms, spyware ou qualquer componente que danifique o aparelho do usuário;</p>
                    <p class='text-muted'>4.4. Não é permitida ao usuário qualquer tentativa de acesso não autorizado em qualquer servidor, rede ou conta de usuário da Instituição;</p>
                    <p class='text-muted'>4.5. Não é permitido ao usuário tentar interferir no serviço de qualquer outro usuário, servidor ou rede, incluindo ataque do tipo “negativa de acesso”, provocando congestionamento em rede wireless, tentativa deliberada de sobrecarregar o serviço e tentativa de "quebrar" (invadir) um servidor;</p>
                    <p class='text-muted'>4.6. Recomenda-se aos usuários da rede wireless que não sejam alteradas as configurações básicas de rede (ip, gateway, dns, etc), somente mediante solicitação ao suporte técnico do usuário, qualquer alteração feita no dispositivo do usuário da rede é de sua responsabilidade e risco;</p>
                    <p class='text-muted'>4.7. É proibida a instalação de qualquer Access Point (AP's) nas dependências das lojas, uma vez que o serviço wireless pode ser prejudicado em sua qualidade de sinal aos demais usuários da rede;</p>
                    <p class='text-muted'>4.8. É vedado ao usuário utilizar-se de endereço falso de e-mail, identificação que coincida com a de outra entidade, empresa ou pessoa, ou, ainda, induzir alguém em erro quanto à sua identificação ou ao conteúdo veiculado.</p>
                    <p class='text-muted font-weight-semibold'>5. Violação das Regras Consideram-se violadas as regras de utilização da rede wireless quando o usuário:</p>
                    <p class='text-muted'>5.1. Mostrar, armazenar ou transmitir texto, imagens ou sons que possam ser considerados ofensivos ou abusivos;</p>
                    <p class='text-muted'>5.2. Utilizar o acesso à internet para instigar, ameaçar ou ofender, abalar a imagem, invadir a privacidade ou prejudicar outros usuários da rede;</p>
                    <p class='text-muted'>5.3. Violar ou tentar violar os sistemas de segurança, quebrando ou tentando adivinhar a identidade eletrônica de outro usuário, senhas ou outros dispositivos de segurança;</p>
                    <p class='text-muted'>5.4. Provocar interferência em serviços de outros usuários ou o seu bloqueio, causando congestionamento da rede de dados ou inserindo vírus e worms;</p>
                    <p class='text-muted'>5.5. Tentar causar a indisponibilidade dos serviços e/ou destruição de dados ou engajar-se em ações que possam ser caracterizadas como violação da segurança computacional.</p>
                    <p class='text-muted font-weight-semibold'>6. Responsabilidades</p>
                    <p class='text-muted'>A empresa fornecedora da solução, WISPOT MARKETING CONNECT LTDA, não se responsabiliza por danos de software ou hardware causados em qualquer equipamento que utiliza este serviço, tais como perda de dados, roubo de informações, violação de acesso, problemas em software ou sistema operacional e queima de dispositivo;</p>
                    <p class='text-muted'>6.1. O usuário será responsabilizado por qualquer dano causado à rede que estiver a utilizar;</p>
                    <p class='text-muted'>6.2. A WISPOT MARKETING CONNECT LTDA é a única responsável e habilitada a realizar a configuração e instalação de rádio bases que possam prover acesso à rede;</p>
                    <p class='text-muted'>6.3. A WISPOT MARKETING CONNECT LTDA poderá intervir e interromper acessos para manutenções na rede a qualquer momento sem comunicação prévia;</p>
                    <p class='text-muted'>6.4. À WISPOT MARKETING CONNECT LTDA se reserva o direito de suspender o acesso do equipamento que estiver consumindo excessivamente o link de internet devido à presença de programas maliciosos nos equipamentos autorizados, tais como: vírus, spyware, worm, entre outros;</p>
                    <p class='text-muted'>6.5. Por questões de segurança, não é permitido o uso da rede sem fio para acesso a conteúdo pornográfico, pirataria de software, áudio e vídeo e transmissão de qualquer material que possa violar questões de direito autoral;</p>
                    <p class='text-muted'>6.6. Recomenda-se evitar fazer downloads de vídeos;</p>
                    <p class='text-muted'>6.7. É recomendável também que os usuários não acessem sites não seguros, uma vez que a WISPOT MARKETING CONNECT LTDA não se responsabiliza pelos prejuízos que possam vir a ocorrer nos equipamentos;</p>
                    <p class='text-muted'>6.8. Não é permitido ao usuário efetuar tentativas de spoofing, clonagem ou quaisquer outros tipos de ataque desta categoria, tampouco de invasão a outros computadores ou redes com propósitos ilegais, com ou sem sucesso;</p>
                    <p class='text-muted'>6.9. É terminantemente proibido desenvolver, manter, utilizar ou divulgar dispositivos que possam causar danos aos sistemas e às informações armazenadas, tais como criação e propagação de vírus, worms ou spyware, criação e utilização de sistemas de criptografia que causem ou tentem causar a indisponibilidade dos serviços e/ou destruição de dados, e ainda, engajar-se em ações que possam ser caracterizadas como violação da segurança computacional;</p>
                    <p class='text-muted'>6.10. É terminantemente proibido utilizar os recursos computacionais da WISPOT MARKETING CONNECT LTDA para fins comerciais ou políticos, tais como mala direta ou disparo de emails.</p>
                    <p class='text-muted font-weight-semibold'>7. Lei Aplicável e Jurisdição</p>
                    <p class='text-muted'>As partes elegem o Foro da cidade de São Paulo, Estado de São Paulo, em detrimento de qualquer outro, para dirimir quaisquer questões oriundas dos termos e condições deste Termo. © 2015 WISPOT MARKETING CONNECT LTDA. Todos os direitos reservados. Atualizado em Outubro de 2015.</p>
                    <p class='text-muted'>WISPOT MARKETING CONNECT LTDA</p>
                    <p class='text-muted'>Telefone: +055-11-3646-2999</p>
                    <p class='text-muted'>E-mail: wispot@wispot.com.br</p>
                </div>
            </div>
        </b-modal>
    </div>
</template>

<script>
    import axios from 'axios';
    import browser from 'browser-detect';

    export default {
        name: 'AccountCreate',
        data() {
            return {
                errors   : [],
                loading  : false,
                name     : '',
                email    : '',
                password : ''
            };
        },
        mounted() {
            this.loading = true;
        },
        methods: {
            checkForm() {
                this.errors = new Array();

                if (!this.name) {
                    this.errors.push('Nome requerido.')
                }

                if (!this.email) {
                    this.errors.push('E-mail requerido.')
                } else if (!this.validEmail(this.email)) {
                    this.errors.push('E-mail válido é exigido.')
                }

                if (!this.password) {
                    this.errors.push('Senha requerida.')
                }

                if (this.errors.length == 0) {
                    const navigator = browser();
                    const data      = {
                        name      : this.name,
                        email     : this.email,
                        password  : this.password,
                        navigator : navigator
                    };

                    if (typeof this.$route.params.id != 'undefined')
                        data.identifier = this.$route.params.id;

                    axios.post('/register', data).then(response => {
                        if (response.data.success) {
                            location.href = window.Laravel.intended.replace(/&amp;/g, '&');
                        } else {
                            this.errors.push(response.data.message)
                        }
                    });
                }
            },
            validEmail(email) {
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            },
            displayTerms() {
                this.$refs.myModalRef.show()
            }
        }
    }
</script>
<style>
    body{
        background: #F7F7F7;
    }
    .font-weight-semibold{
        font-weight:600;
    }
</style>
<style scoped>
    .box{
        max-width: 500px;
        min-height: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }
    .logo{
        display: block;
        text-align: center;
        margin-bottom: 40px;
    }
    .logo img{
        width:200px;
    }
    .login_content {
        min-width: 280px;
        margin: 0 auto;
        padding: 40px;
        position: relative;
        border-radius: 10px;
        background-color: #FFF;
        box-shadow: 0 2px 6px rgba(0, 0, 0, .25);
    }    
    .terms{
        height: 400px;
        overflow: auto;
    }
</style>