<template>
    <div class="box">
        <div class="animated form login_form fadeInDown">
            <section class="login_content">
                <picture class="logo">
                    <img src="/img/sending_logo.png" alt="Sending">
                </picture> <!-- / PICTURE -->
                <b-form @submit.prevent="checkForm">   
                    <p class="text-muted h5 mb-4">Bem vindo ao Sending!</p>
                    <b-form-group id="fieldsetEmail" description="" label="E-mail" label-for="email">
                        <b-form-input id="email"
                            v-model.trim="email"
                            placeholder="Insira seu e-mail"
                            autofocus />
                    </b-form-group> <!-- / B-FORM-GROUP -->
                    <b-form-group id="fieldsetPassword" description="" label="Senha" label-for="password">
                        <b-form-input type="password" id="password"
                            v-model.trim="password"
                            placeholder="●●●●●●●●" />
                    </b-form-group> <!-- / B-FORM-GROUP -->
                    <b-row class="h6">
                        <b-col>
                            <router-link tag="a" :to="{ name: 'ResetPassword' }" class="btn btn-link text-muted">Esqueceu a senha?</router-link>
                        </b-col>
                        <b-col>
                            <router-link tag="a" :to="{ name: 'AccountCreate' }" class="btn btn-link text-muted">Ainda não tem cadastro?</router-link>
                        </b-col>
                    </b-row> <!-- / B-ROW -->
                    <p v-if="errors.length">
                        <b class="text-danger">Por favor corrija o(s) seguinte erro(s):</b>
                        <ul class="text-danger">
                            <li v-for="(error, i) in errors" :key="i">{{ error }}</li>
                        </ul>
                    </p> <!-- / V-IF ERRORS.LENGTH -->
                    <b-button type="submit" variant="sending" :block="true" size="lg" class="mt-4">ENTRAR</b-button>
                </b-form> <!-- / B-FORM -->
            </section>
        </div>
    </div>
</template>

<style></style>

<script>
    import axios from 'axios';
    import browser from 'browser-detect';
    
    export default {
        name: 'AccountLogin',
        data() {
            return {
                errors   : [],
                loading  : false,
                email    : '',
                password : ''
            };
        },
        mounted() {
            this.loading = true;
        },
        methods: {
            checkForm() {
                this.errors = []

                if(!this.email) {
                    this.errors.push('E-mail requerido.')
                } else if (!this.validEmail(this.email)) {
                    this.errors.push('E-mail válido é exigido.')
                }

                if(!this.password) {
                    this.errors.push('Senha requerida.')
                }

                if (this.errors.length == 0) {
                    const navigator = browser();
                    const data = {
                        email     : this.email,
                        password  : this.password,
                        navigator : navigator
                    };

                    axios.post('/login', data).then(response => {
                        if (response.data.success) {
                            location.href = window.Laravel.intended.replace(/&amp;/g, '&');
                        } else {
                            this.errors.push(response.data.message);
                        }
                    });
                }
            },
            validEmail(email) {
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            }
        }
    }
</script>
<style>
    body {
        background: #F7F7F7;
    }

    .font-weight-semibold{
        font-weight:600;
    }

    .box {
        max-width: 500px;
        min-height: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }

    .logo {
        display: block;
        text-align: center;
        margin-bottom: 40px;
    }

    .logo img {
        width:200px;
    }

    .login_content {
        min-width: 480px;
        margin: 0 auto;
        padding: 40px;
        position: relative;
        border-radius: 10px;
        background-color: #FFF;
        box-shadow: 0 2px 6px rgba(0, 0, 0, .25);
    }    

    .terms {
        height: 400px;
        overflow: auto;
    }
</style>