<template>
    <div class="box">
        <div class="animated form login_form fadeInDown">
            <section class="login_content">
                <picture class="logo">
                    <img src="/img/sending_logo.png" alt="Sending" />
                </picture> <!-- / PICTURE -->
                <b-form @submit.prevent="submitHandler">
                    <p class="text-muted h5 mb-4">Alteração de Senha</p>
                    <transition name="fade">
                        <div class="alert" role="alert"
                            :class="{ 'alert-success' : !hasError, 'alert-danger' : hasError }"
                            v-if="showMessage"
                        >
                            {{ responseMessage }}
                        </div>
                    </transition> <!-- / ALERT -->
                    <b-form-group description="" label="Nova Senha" label-for="password">
                        <b-form-input type="password"
                            v-model.trim="password"
                            placeholder="Digite a nova senha"
                            autofocus />
                    </b-form-group> <!-- / B-FORM-GROUP -->
                    <b-form-group description="" label="Confirmação de Senha" label-for="password">
                        <b-form-input type="password"
                            v-model.trim="confirmationPassword"
                            placeholder="Digite a nova senha novamente" />
                    </b-form-group> <!-- / B-FORM-GROUP -->
                    <b-button type="submit" variant="sending" :block="true" size="lg" class="mt-4" ref="btnSendRecovery">ALTERAR SENHA</b-button>
                </b-form> <!-- / B-FORM -->
                <b-row class="justify-content-md-center mt-3">
                    <b-col>
                        <router-link tag="a" :to="{ name: 'AccountLogin' }" class="btn btn-link btn-block">
                            <icon name="arrow-left" class="mr-2" />
                            Voltar
                        </router-link>
                    </b-col>
                </b-row>
            </section>
        </div>
    </div>
</template>
<script>
    import axios from 'axios';

    export default {
        data() {
            return {
                confirmationPassword : null,
                password        : null,
                hasError        : false,
                showMessage     : false,
                responseMessage : null
            }
        },
        mounted() {
            this.verifyURLParams();
        },
        methods : {
            verifyURLParams() {
                const query = this.$route.query;
                if (!query.hasOwnProperty('email') && !query.hasOwnProperty('token')) {
                    this.$router.push('/login');
                } else {
                    this.verifyRecoveryData();
                }
            },
            submitHandler() {
                const vue = this;
                this.$refs.btnSendRecovery.disabled  = true;
                this.$refs.btnSendRecovery.innerHTML = 'CARREGANDO...';

                if ((this.password && this.confirmationPassword) &&
                    (this.password == this.confirmationPassword))
                {
                    const data = {
                        email    : this.$route.query.email,
                        token    : this.$route.query.recovery_token,
                        password : this.password,
                        confirmation_password : this.confirmationPassword
                    };

                    axios.post('/api/users/recovery-password', data).then(res => {
                        this.responseMessage = res.data.message;

                        if (res.data.success) {
                            this.hasError = false;
                            setTimeout(function() {
                                vue.$router.push('/login');
                            }, 3000);
                        } else {
                            this.hasError = true;
                        }
                    }).catch(error => {
                        this.hasError = true;
                        this.responseMessage = 'Houve um erro durante a requisição. Por favor, tente novamente mais tarde';
                    }).then(res => {
                        this.showMessage = true;
                        this.resetButton();
                    });
                } else {
                    this.resetButton();
                }
            }, // submitHandler
            resetButton() {
                this.$refs.btnSendRecovery.disabled  = false;
                this.$refs.btnSendRecovery.innerHTML = 'ALTERAR SENHA';
            }, // resetButton
            verifyRecoveryData() {
                const query = this.$route.query;
                axios.post('/api/users/verify-recovery', query).then(res => {
                    if (!res.data.success) {
                        this.$router.push('/login');
                    }
                }).catch(error => console.log(error));
            } // verifyRecoveryData
        }
    }
</script>

<style lang="scss" scoped>
    .box {
        max-width: 500px;
        min-height: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }

    .logo {
        display: block;
        text-align: center;
        margin-bottom: 40px;
    }

    .logo img {
        width:200px;
    }

    .login_content {
        min-width: 480px;
        margin: 0 auto;
        padding: 40px;
        position: relative;
        border-radius: 10px;
        background-color: #FFF;
        box-shadow: 0 2px 6px rgba(0, 0, 0, .25);
    }
</style>
