@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,600');
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import '~vue-snotify/styles/material.css';
@import '~@pencilpix/vue2-clock-picker/dist/vue2-clock-picker.min.css';
@import '~vuejs-dialog/dist/vuejs-dialog.min.css';

body, html,
#side-nav, #app,
.main-container { 
	position: relative;
	min-height: 100%;
	min-height: 100vh;
	font-family: Poppins, 'sans-serif';
	font-size: 14px;
	font-weight: 300;
}
.topnav {
	background-color: #F4B822;
	height: 60px;

	.sending-logo {
		display: block;
		width: 115px;
	  	height: 50px;
	  	margin: 5px auto 0;
	}

	.icon-plus {
		width: 25px;
		height: 25px;
		color: #FFF;
		margin-top: 17px;
		float: right;
	}
}

.snotifyToast__title { margin-top: 8px; font-size: 1.25em; }
.snotifyToast__body { margin-bottom: 8px; font-size: .85em; }

#side-nav {
	background-color: #fff;
}

.main-container {
	background-color: #fbfbfb;
}

.input-separator {
    text-align: center;
    font-size: 18px;
    color: #999;
    line-height: 40px;
}

.flatpickr-months {
	.flatpickr-prev-month,
	.flatpickr-next-month {
		height: 50px !important;
		padding: 10px 15px !important;
		line-height: 26px !important;
		color: rgba(255, 255, 255, 0.9) !important;
		fill: rgba(255, 255, 255, 0.9) !important;
	}

	.flatpickr-month {
		height: 50px !important;
		color: #FFF !important;
		fill: #FFF !important;
		background-color: #089CC1 !important;

		.flatpickr-current-month {
			height: 40px !important;
			padding: 10px 0 0 0 !important;
		}
	}
}

.flatpickr-weekdays { background-color: #d4eef5 !important; }

.flatpickr-day.today:hover,
.flatpickr-day.today:focus {
	border-color: #118faf;
    background: #089cc1;
}

.flatpickr-calendar.arrowTop:before,
.flatpickr-calendar.arrowTop:after { border-bottom-color: #089cc1 !important; }

.clock-picker__canvas {
    text-align: center;
}

label {
	color: #999;
	font-weight: 400;
	font-size: 15px;
}

input.form-control,
select.form-control {
	height: 40px;
	color: #999;
	font-size: 14px;
	border-color: #e8e8e8;
	border-radius: 5px;
}

p, h1, h2,
h3, h4, h5, h6 { color: #999; }

.hoverable { cursor: pointer; }

.loading-modal {
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, .5);
}

.hollow-dots-spinner {
	top: 50%; left: 50%;
	margin-left: -45px;
	margin-top: -20px;
}

.divisor {
	width: 100%;
	height: 1px;
	margin: 30px 0;
	background-color: #EEE;
}

.btn-sending-block {
	padding: 20px;
	font-size: 11px;
	color: #c3c1b5;
	background-color: #fff;

	-webkit-box-shadow: 0 2px 4px -2px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 2px 4px -2px rgba(0, 0, 0, .4);
	-o-box-shadow: 0 2px 4px -2px rgba(0, 0, 0, .4);
	box-shadow: 0 2px 4px -2px rgba(0, 0, 0, .4);

	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;

	&:hover { color: #F4B822; }

	svg {
		display: block;
		width: 32px;
		height: 32px;
		margin: 0 auto 10px;
	}
}

#side-nav {
	.menu-option-container {
		.menu-option.router-link-exact-active {
			color: #FFF;
			background-color: #f4b822;
		}
	}
}

